<form #emailForm="ngForm" (ngSubmit)="onSubmit()">
  <input required #emailControl="ngModel" type="email" pattern=".+@.+\..+" name="email" [(ngModel)]="email"
    aria-label="email input" />
  <ng-container *ngIf="emailControl.invalid && emailControl.touched">

    <div *ngIf="emailControl['errors']required">You must enter an email.</div>
    <div *ngIf="emailControl['errors']pattern">You must enter a valid email address.</div>

  </ng-container>

  <button type="submit" [disabled]="emailForm.invalid">Submit</button>

</form>

<hr />
<div>Is form valid: {{ emailForm.valid }}</div>
<div>Form values: {{ emailForm.value | json }}</div>